.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px 0px 15px;
}

.menuItem {
    display: flex;
}   

.menuItem > div {
    padding: 20px;
}